altgraph==0.17.5
caldav==3.2.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
dnspython==2.8.0
h11==0.16.0
icalendar==7.1.0
icalendar-searcher==1.0.5
isort==8.0.1
jh2==5.0.11
lxml==6.1.0
niquests==3.18.8
packaging==26.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qh3==1.8.1
recurring-ical-events==3.8.2
setuptools==82.0.1
six==1.17.0
tzdata==2026.2
urllib3-future==2.20.904
wassima==2.1.0
x-wr-timezone==2.0.1
